# Database Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

# Redis Configuration
REDIS_PASSWORD=
REDIS_PORT=6379

# Application Configuration
NODE_ENV=production
APP_PORT=3000
DISABLE_TLS_VERIFY=true

# JWT Secrets (Generate with: openssl rand -base64 32)
JWT_ACCESS_TOKEN_SECRET

