NODE_ENV= your node environment
DATABASE_URL=your database url
REDIS_URL= your redis url
PORT= your port number
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
DISABLE_TLS_VERIFY=true # disable TLS verification (true/false) needed for some database connections